body {
    background-color: black;
    color: white;
}

.navbar {
    background-color: aliceblue;
    color: black;
}

.main-big-text {
    text-transform: uppercase;
    text-align: center;
}

.occhiello {
    text-align: center;
}

.Linking {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.Linking:hover {
    color: gray;
}
