body {
    background-color: black;
    color: white;
}

.navbar {
    background-color: aliceblue;
    color: black;
    transition: all 0.5s;
}

.main-big-text {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: -15px;
}

.occhiello {
    text-align: center;
    margin-bottom: 25px;
    transition: all 1s;
}

.Linking-anchor {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    transition: 1s;
}

.Linking-anchor:hover {
    color: white;
    background-color: gray;
    transition: all 0.2s;
}

.lower-links {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    transition: all 1s;
}
